
</head>
<div data-role="header">


<p><%=if $name
         $name.capitalize
       end
%> Bookmarks</p>

<p>Logged in through <%=if $provider
                           $provider.capitalize end %></p>




  <!-- end .header --></div>



<div data-role="content" data-theme="b" data-transition= "flip" >

  <ul data-role="listview" data-filter="true" data-inset="true" data-theme="e">
    <li> <h1>Zuls Bookmarks App</h1></li>
    <li> This flexible app maitains Bookmark url lists. </li>
    <li> Add bookmarks name, origin and the associated url. </li>
    <li> The name and origin fields can be set by user for searching and sorting.</li>
    <li> Bookmarks can be edited/updated/deleted as required. </li>
    <li> Bookmarks can be filtered by typing any string to select bookmarks that match. </li>
    <li> Bookmarks can be further searched and sorted by various fields. </li>
    <li> Bookmarks can be verified and emailed to any user.</li>
    <li> Bookmarks can be saved to and re-created from temp file. When re-creating bookmarks from temp file, they will be added to existing bookmarks.</li>
 </ul>



  <!-- end .content --></div>
