<div data-role="header">



  <h4> Edit Bookmark</h4>

  <%= link_to 'Back', bookmarks_path, {"data-icon" =>"back", "class" => "ui-btn-left", "data-theme"=>"b"} %>
  <%= link_to 'Show', @bookmark, {"data-icon" =>"star", "class" => "ui-btn-right", "data-theme"=>"b"} %>
  <!-- end .header --></div>

<div data-role="content" data-theme="b" data-transition= "flip">
  <ul data-role="listview" data-inset="true" data-theme="a">


<%= render 'formedit' %>

  </ul>
  <!-- end .content --></div>