<div data-role="header">


  <h1><%=if $name
           $name.capitalize
         end
  %> Sort Bookmarks field </h1>

  <%= link_to 'Back', bookmarks_path, {"data-icon" =>"back", "class" => "ui-btn-left"} %>
  <!-- end .header --></div>

<div data-role="content" data-theme="b" data-transition= "flip">
  <ul data-role="listview"  data-inset="true" data-theme="a">





<%= render 'formsort' %>





  </ul>
  <!-- end .content --></div>