<div data-role="header">
  <h2>Zul's Bookmarks Login</h2>
  <!-- end .header --></div>


<div data-role="content" data-theme="b" >


    <p> To login click any one of the following links to authorize app.
      Each authorization will result in a separate copy of database resulting in upto four different
      copies, one associated with each service.
    </p>


  <ul>
    <a rel="external" data-ajax ="false" href="/auth/facebook"> <%= image_tag "facebook.png", :width => "10%", :style => 'display: block; margin-right: auto;' %>Facebook </a>
  </ul>

  <ul>
    <a rel="external" data-ajax ="false" href="/auth/twitter"><%= image_tag "twitter.png", :width => "10%", :style => 'display: block; margin-right: auto;' %>Twitter</a>
  </ul>

  <ul>
    <a rel="external" data-ajax ="false" href="/auth/linkedin"><%= image_tag "linkedin.png", :width => "10%", :style => 'display: block; margin-right: auto;' %>Linkedin</a>
  </ul>

  <ul>
    <a rel="external" data-ajax ="false" href="/auth/github"><%= image_tag "github.png", :width => "10%", :style => 'display: block; margin-right: auto;' %>Github</a>
  </ul>



    <!-- end .content --></div>
