<h1>The following Bookmarks have been created using web application <%= link_to 'zulsbookmarks.herokuapp.com','http://zulsbookmarks.herokuapp.com'  %></h1>


<h2>  ZulsBookmarks </h2>
<blockquote>
      <li>***</li>
  <% @bookmarks.each do |mark| %>

      <li><%=mark.name%></li>

      <li><%= link_to mark.url, mark.url %> </li>
      <li>***</li>
  <% end %>
</blockquote>
<h2> END</h2>